* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: antiquewhite;
  text-align: center;
}
.baslik {
  /* background-color: red ; */
  display: inline-block;
  font-family: "Bungee Shade", cursive;
  text-shadow: -5px 2px 5px #0c0202;
  margin: 50px;
  font-weight: 700;
  font-size: 60px;
}
nav {
  margin-bottom: 80px;
  /* padding: 2px; */
}
nav a {
  background-color: rgb(167, 148, 125);
  padding: 2px;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  /* border: 2px solid red; */
  margin: 5px;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;

}
nav a:hover {
  background-color: rgba(255, 255, 0, 0.836);
  font-weight: 700;
  font-size: 20px;
  color: rgba(194, 29, 29, 0.801);
  
}
.introduce {
  font-family: "Rampart One", cursive;
  font-size: 48px;
  margin-bottom: 80px;
  padding: 70px;
}
h4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
  text-decoration: underline;
  margin-bottom: 20px;
  margin-top: 50px;
  color: rgba(255, 0, 0, 0.562);
}
img {
  /* border: 2px solid red; */
  border-radius: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
}
img:hover{
  cursor: pointer;
}
.links a {
  font-family: "Times New Roman", Times, serif;

  margin: 20px;
  font-size: 20px;
  padding: 5px;
  font-weight: 700;
  text-decoration: none;
  color: rgba(212, 191, 134, 0.788);
}
.links a:hover {
  color: #ff4500;
  cursor: pointer;
}
.message {
  margin-top: 20px;
  font-size: 20px;
}
input {
  /* border: 1px solid red; */
  width: 600px;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 8px;
  border: 2px solid #d2b48c;
  background-color: #000;
  text-align: center;
  font-size: 16px;
}
textarea {
  width: 600px;
  border-radius: 8px;
  border: 2px solid #d2b48c;
  background-color: #000;
  text-align: center;
  font-size: 18px;
}
button {
  width: 600px;
  height: 50px;
  background-color: #d2b48c;
  color: rgba(255, 228, 196, 0.562);
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
}
button:hover {
  color: red;
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
  background-color: bisque;
}
.top {
  text-align: right;

  margin-top: 30px;
  padding: 10px 50px;
  /* border: 2px solid red; */
  display: inline-block;

  background-color: #d2b48c;
  border-radius: 20px;
}
.top a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: wheat;
}
.top a:hover {
  font-size: 40px;
  color: white;
}
